
 <!-- ******************* START FOOTER COMPONENT ******************* -->
<footer class="footer ucg-icons__newPackage">
    <div class="footer__wrap container">
      <div class="footer__upper">
        <div data-sly-resource="${'footer-menu1' @ resourceType='academy-ucs-remy/components/structure/footer/footer-menu1'}" data-sly-unwrap="${wcmmode.disabled}"></div>

        <div data-sly-resource="${'footer-menu2' @ resourceType='academy-ucs-remy/components/structure/footer/footer-menu2'}" data-sly-unwrap="${wcmmode.disabled}"></div>

      </div>
      <div class="footer__bottom">
        <div class="footer__col">
          <div data-sly-resource="${'footer-logo' @ resourceType='academy-ucs-remy/components/structure/footer/footer-logo'}" data-sly-unwrap="${wcmmode.disabled}"></div>
          <div data-sly-resource="${'footer-signature' @ resourceType='academy-ucs-remy/components/structure/footer/footer-signature'}" data-sly-unwrap="${wcmmode.disabled}"></div>

        </div>
        <div class="footer__col">
          <div data-sly-resource="${'footer-connectivity' @ resourceType='academy-ucs-remy/components/structure/footer/footer-socialmedia'}" data-sly-unwrap="${wcmmode.disabled}"></div>

          <div data-sly-resource="${'footer-menu3' @ resourceType='academy-ucs-remy/components/structure/footer/footer-menu3'}" data-sly-unwrap="${wcmmode.disabled}"></div>

        </div>
      </div>
    </div>
  </footer>

<!-- ******************* END FOOTER COMPONENT ******************* -->