
<!-- ******************* START NEW HEADER COMPONENT ******************* -->
<header class="header ucg-icons__newPackage">
    <nav class="navbar container-fixed">
      <div class="navbar__zero-level">
        <div data-sly-resource="${'header-logo' @ resourceType='academy-ucs-remy/components/structure/header/header-logo'}" data-sly-unwrap="${wcmmode.disabled}"></div>

        <div data-sly-resource="${'header-menu' @ resourceType='academy-ucs-remy/components/structure/header/header-menu'}" data-sly-unwrap="${wcmmode.disabled}"></div>

        <div data-sly-resource="${'header-link' @ resourceType='academy-ucs-remy/components/structure/header/header-link'}" data-sly-unwrap="${wcmmode.disabled}"></div>

      </div>

      <div data-sly-resource="${'header-items' @ resourceType='academy-ucs-remy/components/structure/header/header-items'}" data-sly-unwrap="${wcmmode.disabled}"></div>

    </nav>
    <div data-sly-resource="${'header-icon' @ resourceType='academy-ucs-remy/components/structure/header/header-icon'}" data-sly-unwrap="${wcmmode.disabled}"></div>

    <!-- ******************* START SEARCH OVERLAY  COMPONENT ******************* -->
    <aside class="ucg-search">
      <div class="ucg-search__wrap">
        <span class="ucg-search--close icon icon-close"></span>
        <div class="panel ucg_search">
          <div class="container">
            <input class="findAsYouType" type="text" name="querySearch"
              data-resultspage="/content/unicreditgroup-eu/it/search.html" placeholder="Typing" data-threshold="3"
              data-lang="it" />
            <span class="icon icon-search"></span>
          </div>
          <div class="searchSuggestion">
            <div class="autocomplete-suggestions">
              <div class="autocomplete-suggestion text--body" data-index="0">
                Typing
              </div>
              <div class="autocomplete-suggestion text--body" data-index="0">
                Typing <strong>suggestion two</strong>
              </div>
              <div class="autocomplete-suggestion text--body" data-index="1">
                Typing <strong>suggestion three</strong>
              </div>
              <div class="autocomplete-suggestion text--body" data-index="2">
                Typing <strong>suggestion four</strong>
              </div>
              <div class="autocomplete-suggestion text--body" data-index="3">
                Typing <strong>suggestion five</strong>
              </div>
              <div class="autocomplete-suggestion text--body" data-index="4">
                Typing <strong>suggestion six</strong>
              </div>
            </div>

            <button class="button button--arrow">MORE DETAILS</button>
          </div>
        </div>
      </div>
    </aside>
    <!-- ******************* END OF SEARCH OVERLAY COMPONENT ******************* -->
  </header>
  <!-- ******************* END NEW HEADER COMPONENT ******************* -->