.plcholder-whiteonly{
 
 
}

.plcholder-white{
    color: #FFFFFF;
    text-align: center;
   }


.plcholder-blackonly{
    color:#000000;
}


.plcholder-black{
    color:#000000;
    text-align: center;
}