<link rel="icon" type="image/vnd.microsoft.icon"
    href="https://www.unicreditgroup.eu/etc/designs/unicreditgroupn/favicon.ico" />
  <link rel="shortcut icon" type="image/vnd.microsoft.icon"
    href="https://www.unicreditgroup.eu/etc/designs/unicreditgroupn/favicon.ico" />

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
     data-sly-call="${clientLib.css @ categories='academy-ucs-remy.site'}" data-sly-unwrap/>

<div data-sly-resource="${'header' @ resourceType='academy-ucs-remy/components/structure/header'}"></div>

<div data-sly-resource="${'parsys' @ resourceType='wcm/foundation/components/parsys'}"></div>

<div data-sly-resource="${'footer' @ resourceType='academy-ucs-remy/components/structure/footer'}"></div>


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
     data-sly-call="${clientLib.js @ categories='academy-ucs-remy.site'}" data-sly-unwrap/>

